<div class="widget-content">
    {% if saved is defined %}
        <script type="text/javascript">
            require(['underscore', 'orotranslation/js/translator', 'oroui/js/widget-manager', 'oroui/js/messenger', 'oroui/js/mediator'],
                function(_, __, widgetManager, messenger, mediator) {
                    widgetManager.getWidgetInstance({{ app.request.get('_wid')|json_encode|raw }}, function(widget) {
                        messenger.notificationFlashMessage('success', __('{{ 'elemen.core.controller.entity.saved.message'|trans }}'));
                        mediator.trigger('widget_success:' + widget.getWid());
                        mediator.trigger('widget_success:' + widget.getAlias());
                        widget.remove();
                    });
                });
        </script>
    {% else %}
        {% form_theme form with ['@ElemenCalendar/Form/widget.html.twig','ElemenCoreBundle:Form:fields.html.twig'] %}
        {% set formAction = app.request.uri %}
        <div class="form-container">
            <form id="{{ form.vars.id }}" name="{{ form.vars.name }}" action="{{ formAction }}" method="post">
                    {{ form_widget(form) }}
                    <div class="hidden">
                        {{ form_rest(form) }}
                    </div>
                    <div class="widget-actions form-actions" style="display: none;">
                        <button class="btn" type="reset">{{ 'Cancel'|trans }}</button>
                        <button class="btn btn-primary" type="submit">{{ 'Save'|trans }}</button>
                    </div>
            </form>
            {{ oro_form_js_validation(form) }}
        </div>
    {% endif %}
</div>

